<launch>
    <!-- LiDARノードの起動 -->
    <node name="ld06_lidar" pkg="ld06_lidar" type="ld06_lidar" args="LD06" output="screen" >
        <param name="serial_port" value="/dev/ttyUSB0"/>
        <param name="lidar_frame" value="laser"/>
        <remap from="/LiDAR/LD06" to="scan"/>
    </node>

    <!-- tfのノードの起動 -->
    <node name="lidar_tf_broadcaster" pkg="diff_drive_velocity_estimator" type="lidar_node.py" output="screen" >
    </node>
</launch>